In [2]:
# pandas는 numpy를 기반으로 2차원 배열을 활용한 표형식 데이터 다루는 라이브러리
# numpy와 다르게 다양한 자료형을 다룰수 있고, 외부데이터 입/출력이 가능하기 때문에
# python이 R을 제낄수 있었던 것도 pandas library때문이 아닐까..

# pandas의 DataFrame 다루기
import pandas as pd

arr = [["dongwook", 50, 86], ["sineui", 89, 31], ["ikjoong", 68, 91], ["yoonsoo", 88, 75]]

my_df = pd.DataFrame(arr)
my_df

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

In [3]:
type(my_df)

pandas.core.frame.DataFrame

In [5]:
# DataFrame의 행,열에는 column과 row의 index 이름을 지정할 수 있다
my_df = pd.DataFrame(arr, columns = ["name", "score1", "score2"], index = ["A", "B", "C", "D"])
my_df

       name  score1  score2
A  dongwook      50      86
B    sineui      89      31
C   ikjoong      68      91
D   yoonsoo      88      75

In [6]:
my_df.columns

Index(['name', 'score1', 'score2'], dtype='object')

In [7]:
my_df.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [9]:
my_df.dtypes # 각 column이 어떤 자료형인지 알려준다(같은 column 내에는 같은 자료형이여야만 함)

name      object
score1     int64
score2     int64
dtype: object

In [10]:
'''DataFrame을 만드는 다양한 방법'''
# 2차원 리스트 or 2차원 nparray로 DataFrame 만들기(column과 row에 대한 설정이 따로 없으면 0,1,2...순서로 값이 매겨짐)
import numpy as np
import pandas as pd

two_dim_list = [["dongwook", 50, 86], ["sineui", 89, 31], ["ikjoong", 68, 91], ["yoonsoo", 88, 75]]
df1 = pd.DataFrame(two_dim_list)

two_dim_nparray = np.array(two_dim_list)
df2 = pd.DataFrame(two_dim_nparray)

# df1, df2 동일
df1

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

In [25]:
# 리스트가 담긴 dictionary로 DataFrame 만들기
names = ["dongwook", "sineui", "ikjoong", "yoonsoo"]
score1 = [50, 89, 68, 88]
score2 = [86, 31, 91, 75]

dict1 = {
    "name" : names,
    "score1" : score1,
    "score2" : score2
}

dict2 = {
    "name" : np.array(names),
    "score1" : np.array(score1),
    "score2" : np.array(score2)
}

pd.DataFrame(dict1)

       name  score1  score2
0  dongwook      50      86
1    sineui      89      31
2   ikjoong      68      91
3   yoonsoo      88      75

In [27]:
# dictionary가 담긴 리스트로 DataFrame 만들기

my_list = [
    {"name":"dongwook", "score1" : 50, "score2" : 86},
    {"name":"sineui",   "score1" : 89, "score2" : 31},
    {"name":"ikjoong",  "score1" : 68, "score2" : 91},
    {"name":"yoonsoo",  "score1" : 88, "score2" : 75}
]

pd.DataFrame(my_list)

       name  score1  score2
0  dongwook      50      86
1    sineui      89      31
2   ikjoong      68      91
3   yoonsoo      88      75

In [28]:
my_df = pd.DataFrame(my_list)

print(my_df.dtypes)

name      object
score1     int64
score2     int64
dtype: object

In [2]:
# pandas로 데이터 읽어들이기
import pandas as pd
iphone_df = pd.read_csv("csv_file/iphone.csv")
iphone_df # read_csv함수를 쓰면 가장 첫줄이 column 이름으로 들어감

      Unnamed: 0         출시일  디스플레이  메모리     출시 버전 Face ID
0       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No
1  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
2       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No
3  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
4       iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
5      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0     Yes
6  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [3]:
iphone_df2 = pd.read_csv("csv_file/iphone.csv", index_col = 0) # row이름 지정
iphone_df2

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [4]:
# DataFrame 인덱싱
iphone_df2.loc["iPhone 8", "메모리"] # loc 메소드는 location의 약자 .loc[row, col]

'2GB'

In [17]:
iphone_df2.loc["iPhone X"]

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [18]:
type(iphone_df2.loc["iPhone X"]) # Series는 2차원 배열의 row 또는 column

pandas.core.series.Series

In [19]:
iphone_df2.loc[:,"출시일"] # loc의 Col만 가져옴
iphone_df2["출시일"] # loc의 col만 가져오려면 그냥 변수에 [] 처리

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object